<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header>
    <div class="header-inner">
      <h1 class="header-title">RESTAURANT FINDER</h1>
      <button id="menu" class="header-menu" aria-label="Open Navigation">☰</button>
      <nav id="drawer" class="header-nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/habib-syuhada-4614631a7">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="maincontent"></main>
  <!-- <main id="maincontent">
    <div class="hero">
      <img src="images/heros/hero-image_2.jpg" alt="">
      <div class="hero-text"><h2>RESTAURANT FINDER</h2></div>
    </div>
    <section class="content">
      <div class="latest">
        <h1 class="latest-label">FAVORITE</h1>
        <div id="favorites" class="favorites">
        </div>
      </div>
      <div class="latest">
        <h1 class="latest-label">LATEST</h1>
        <div id="posts" class="posts">
        </div>
      </div>
      <div class="latest">
        <h1 class="latest-label">FREQUENTLY ASKED QUESTIONS</h1>
        <div class="faqs">
          <ul id="faqs" class="faq-list">
          </ul>
        </div>
      </div>
    </section>
  </main> -->
  <footer>
    <p class="copyright-text">Copyright ©2023 Restaurant Finder - All rights reserved</p>
  </footer>
</body>
</html>
